code.bin
exheader.bin
newcode.bin
newcodeinfo.h
loader.bin
linker.ld

*.elf
*.sym
*.o
*.d
*.map
/build

/gcc-arm-none-eabi
 
*.directory
.vscode

*.user

*.id0
*.id1
*.id2
*.nam
*.til

*.idb
*.i64

/tmp
test*

.DS_Store
